/* {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
	}*/

.iti-flag {background-image: url("../img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.iti-flag {background-image: url("../img/flags@2x.png");}
}
@font-face {
	font-family: 'Museo Sans 700';
	src: url('../fonts/museosans_700-webfont.woff2') format('woff2'),
	url('../fonts/museosans_700-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Museo Sans 500';
	src: url('../fonts/museosans_500-webfont.woff2') format('woff2'),
	url('../fonts/museosans_500-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Museo Sans 300';
	src: url('../fonts/museosans300-webfont.woff2') format('woff2'),
	url('../fonts/museosans300-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}

.intl-tel-input {
	width: 100%;
	margin: 0 0 1rem;
}
p, a, h1, h2, h3, h4, h5, h6, button {
	font-family: Arial, serif;
}
.max-width {
	max-width: 75rem !important;
	margin: 0 auto;
}
.bold {
	font-weight: bold !important;
}
.full-height {
	height: 100%;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.no-padding {
	padding: 0;
}
.relative {
	position: relative;
	width: 100%;
}
.yellow {
	color: #efcd61;
}
.fullWidth {
	width: 100%;
}

#global-container {
	max-width: 100%;
}
.hoverBig {
	-webkit-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-moz-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-ms-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-o-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	transition: all 0.5s, color 0.5s ease, border-color 5s ease;
}
.hoverBig:hover {
	transform: scale(1.05);
}
#body {
	height: 2300px;
	padding-top: 120px;
	background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/d%C3%A9grad%C3%A9+1499+2010px_V2.png");
	background-size: contain;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

#body .logo {
	position: fixed;
	left: 15px;
	top: 15px;
}

#tag1 {
	position: absolute;
	right: -15px;
	top: 40%;
}
#tag2 {
	position: absolute;
	right: 0;
	bottom: 5%;
}

.box {
	position: relative;
	z-index: 10;
}
.box img {
	z-index: 10;
	position: relative;
}
.trait {
	position: absolute;
	z-index: 1 !important;
}
.trait img {
	z-index: 1 !important;

}
#photo-sasha {
	position: relative;
}
#box-1 {
	min-height: 300px;
}
#box-1 h1 {
	color: #efcd61;
	font-size: 25px;
	line-height: 1.2;
	font-family: 'Museo Sans 700', serif;
	padding-top: 60px;
}
#box-1 h1 span.white {
	color: white;
}
#box-1 h1 span.big {
	font-size: 31px;
}
#box-1 h1 span.uppercase {
	text-transform: uppercase;
}

#trait-1 {
	left: 25%;
	top: 110px
}
#trait-2 {
	left: -130px;
	top: -150px
}
#trait-3 {
	left: 260px;
	top: -70px
}
#trait-3 {
	left: 260px;
	top: -70px
}
#trait-4 {
	left: 200px;
	top: 35px
}
#trait-5 {
	left: 360px;
	top: -50px;
}

#box-2 {
	position: absolute;
	left: 50%;
	top: 330px;
}

#box-3 {
	position: absolute;
	left: -400px;
	top: 125px;


}
#box-3 .inner {
	background-color: white;
	padding: 30px;
	border-radius: 15px;
}
#box-3 .inner.first {
	width: 435px;
}

#box-3 p {
	margin-bottom: 0;
	color: black;
	font-size: 20px;
	line-height: 1.2;
	font-family: 'Museo Sans 300', serif;
}
#box-3 p span.bold {
	font-family: 'Museo Sans 700', serif;

}

#box-4 {
	position: absolute;
	left: 305px;
	top: 95px;
	width: 400px;
	max-width: 100%;
	text-align: center;
}
#box-4 p {
	margin-bottom: 0;
	color: white;
	font-size: 25px;
	line-height: 1.2;
	font-family: 'Museo Sans 500', serif;
}
#box-4 h3 {
	margin-bottom: 0;
	color: #efcd61;
	font-size: 40px;
	line-height: 1.2;
	font-family: 'Museo Sans 700', serif;
}
#box-5 {
	left: -300px;
	top: 120px;
	text-align: left;
	font-family: 'Museo Sans 500', serif;
}
#box-5 .bold {
	font-family: 'Museo Sans 700', serif !important;
}
#box-5 .inner.second {
	width: 730px;
}
#box-5 h6 {
	font-size: 40px;
}
#box-5 .title {
	color: black;
	font-size: 20px;
	font-family: 'Museo Sans 700', serif;
	line-height: 1;
	margin-top: 15px;
	margin-bottom: 5px;
}
#box-5 .title * {
	vertical-align: middle;
}
#box-5 ul {
	list-style: none;
}
#box-5 li:before {
	content: '- ';
}
#box-5 li {
	font-size: 20px;

}


#box-6 {
	position: absolute;
	left: 0;
	top: 95px;
	width: 730px;
	text-align: left;
}
#box-6 p {
	margin-bottom: 0;
	color: white;
	font-size: 24px;
	line-height: 1.2;
	font-family: 'Museo Sans 700', serif;
	font-weight: bold;
}

#arrow-container {
	text-align: center;
	display: block;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;

	-webkit-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-moz-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-ms-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-o-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	transition: all 0.5s, color 0.5s ease, border-color 5s ease;
}
#arrow-container:hover {
	transform: scale(1.05);
}
#arrow-container p {
	font-family: 'Museo Sans 300', serif;
	color: white;
	font-size: 18px;
	margin-bottom: 0;
	margin-top: 25px;

}


.petition {
	padding: 50px 100px;
	font-family: 'Museo Sans 500', serif;
	font-size: 18px;
	position: relative;
	color: black;
	line-height: 1.2;
}
.petition div:nth-child(1) {
	height: 250px;
}
.petition ul {
	list-style: none;
	margin-bottom: 35px;
}
.petition li:before {
	content: '- ';
}
.petition .receiver {
	float: right;
}
.petition .green {
	color: #008e7f;
}
.petition .big {
	font-family: 'Museo Sans 700', serif;
	font-size: 26px;
	font-style: italic;
	line-height: 1;
	margin-bottom: 40px;
}
.petition .bold {
	font-family: 'Museo Sans 700', serif;

}
.petition .title {
	color: black;
	font-size: 20px;
	font-family: 'Museo Sans 700', serif;

	line-height: 1;
	margin-top: 15px;
	margin-bottom: 25px;
}
.petition .title.green {
	color: #008e7f !important;
}
.petition .title * {
	vertical-align: middle;
}




#merci {
	min-height: 100vh;
	background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/merci.jpg");
	background-size: cover;
	background-position: 50% 100%;
	position: relative;
	display: none;
}
#merci .container-virades {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	min-height: 215px;
	background-color: #eaebed;
}
#merci .container-virades .inner {
	padding-top: 30px;
	width: 100%;
	min-height: 215px;
	height: 100%;
	position: relative;
}
#merci .container-virades .inner .baloon1 {
	position: absolute;
	left: -30px;
	bottom: 0;
}
#merci .container-virades .inner .baloon2 {
	position: absolute;
	left: 28%;
	top: 10px;
}
#merci .container-virades .inner .baloon3 {
	position: absolute;
	right: -20px;
	z-index: 30;
	bottom: 20px;
}
#merci .container-virades .inner .text p.big {
	text-align: center;
	background-color: #008b80;
	text-transform: uppercase;
	padding: 5px 10px;
	color: white;
	font-size: 24px;
	font-family: 'Museo Sans 700', serif;

}
#merci .container-virades .inner .text p {
	text-align: left;
	color: black;
	font-size: 18px;
	font-family: Helvetica, serif;
	margin-bottom: 0;
	margin-top: 5px;
	line-height: 1.3;
}
.container-merci {
	display: none;

}
.container-merci .bt-social {
	display: block;
	background-color: white;
	padding: 10px 15px;
	font-size: 25px;
	font-family: 'Museo Sans 700', serif;

	color: #00738a;
	margin: 0 auto 15px;
	text-transform: uppercase;
	width: 275px;
	max-width: 100%;
}
.container-merci .bt-don {
	display: block;
	background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/bg-button.jpg");
	background-size: cover;
	padding: 10px 15px;
	font-size: 25px;
	font-family: 'Museo Sans 700', serif;

	color: #00738a;
	margin: 15% auto 15px;
	text-transform: uppercase;
	width: 275px;
	max-width: 100%;
	position: relative;
}
.container-merci .bt-don img {
	position: absolute;
	top: -30px;
	left: -35px;
}
.container-merci .bt-social * {
	vertical-align: sub;
}
.container-right {
	background-color: #00738a;
	position: relative;
	padding: 0;
	text-align: center;
	padding-top: 30px;
}
.container-form {
	position: fixed;
	padding-top: 20px;
	top: 0;
}
.container-merci .title {
	margin-bottom: 50px;
}
.container-merci p.text {
	margin: 20px auto 0;
	width: 250px;
	max-width: 100%;
	text-align: left;
	color: white;
	font-family: 'Museo Sans 300', serif;
	font-size: 15px;
	line-height: 1.2;
}
.container-merci p .bold {
	font-family: 'Museo Sans 500', serif;
}
.container-form .title,
.container-merci .title{
	width: 100%;
	text-align: center;
	height: 65px;
	background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/bg-button.jpg");
	background-size: cover;
}
.container-form .title p,
.container-merci .title p{
	margin-top: 40px;
	color: #00738a;
	font-size: 23px;
	line-height: 1.2;
	margin-bottom: 0;
	font-family: 'Museo Sans 700', serif;

	padding-top: 18px;
}
#nb-sign {
	visibility: hidden;
	text-align: center;
	color: #efcd61;
	font-size: 20px;
	line-height: 1.2;
	margin-bottom: 20px;
	font-family: 'Museo Sans 700', serif;

}
.container-form .text p {
	color: white;
	font-family: 'Museo Sans 300', serif;
	font-size: 15px;
	line-height: 1.2;
}
.container-form .text p.white {
	color: white;
	font-family: 'Museo Sans 700', serif;

	font-size: 15px;
	line-height: 1.2;
}
.container-form .legal p {
	color: white;
	font-family: 'Museo Sans 300', serif;
	font-size: 12px;
	line-height: 1.2;
}
.container-form .legal p a {
	color: #efcd61;
}
.container-form .inner {
	padding: 20px 30px;
	text-align: left;
}
.container-form form {
	border-bottom: 1px solid white;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.container-form form input.red-border {
	border: 1px solid red;
}
.error {
	font-size: 12px !important;
	color: #FFDF00 !important;
	display: none;
	margin-bottom: 5px !important;
}
.container-form form .group div:nth-child(1) {
	width: 49%;
	float: left;
	display: inline-block;
	vertical-align: top;
}
.container-form form .group div:nth-child(2) {
	width: 49%;
	float: right;
	display: inline-block;
	vertical-align: top;
}
.container-form form input {
	border-radius: 5px;
	font-family: 'Museo Sans 300', serif;
}
.container-form form .group input:nth-child(2) {
	margin-left: 10px;
}
.container-form form button {
	width: 275px;
	max-width: 100%;
	background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/bg-button.jpg");
	background-size: cover;
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 65px;
	color: #00738a;
	font-size: 18px;
	line-height: 1.2;
	font-family: 'Museo Sans 700', serif;

	text-transform: uppercase;
	border-radius: 3px;

	-webkit-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.75);

	-webkit-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-moz-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-ms-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	-o-transition: all 0.5s, color 0.5s ease, border-color 5s ease;
	transition: all 0.5s, color 0.5s ease, border-color 5s ease;
}
.container-form form button:hover {
	transform: scale(1.05);
}
.container-form form p {
	color: white;
	font-family: 'Museo Sans 300', serif;
	font-size: 14px;
	line-height: 1.2;
	margin-left: 8px;
}

.container-merci .container-virade {
	background-color: #eaebed;
	min-height: 215px;
	padding-top: 60px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.container-merci .container-virade a {
	background-color: #de4443;
	display: block;
	font-size: 25px;
	font-family: 'Museo Sans 700', serif;

	color: white;
	text-transform: uppercase;
	height: 85px;
	line-height: 1.2;
	padding-top: 10px;
	text-align: left;
	max-width: 100%;
	width: 350px;
	margin: 0 auto;
}
.container-merci .container-virade a span {
	line-height: 1;

}
.container-merci .container-virade a img {
	vertical-align: middle;
	float: left;
	margin-right: 10px;
	margin-bottom: 50px;
}

.container-footer {
	display: none;
	z-index: 20;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	padding-top: 10px;
	background-color: #00738a;
}
.container-footer p,.container-footer a {
	font-size: 14px;
	color: white;
	font-family: 'Museo Sans 300', serif;
	margin: 0 0 0 20px;
}
@media screen and (max-height: 830px) {
	.container-form {
		bottom: 0;
		overflow-y: scroll;
	}
}
@media screen and (max-height: 800px) {
	.container-merci {
		padding-bottom: 60px;
	}
	#merci {
		min-height: 800px;
	}
}
@media screen and (max-height: 700px) {
	#merci {
		min-height: 700px;
	}
}
@media screen and (max-width: 1010px) {
	.container-deploy-form {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		height: 65px;
		background-color: white;
		padding: 10px;
	}
	#deploy-form-small {
		background-image: url("https://heroku-adfinitas-campaign.s3.amazonaws.com/VLM-2019/19-plaidoyer-CRCM/bg-button.jpg");
		background-size: cover;
		display: block;
		margin: 0 auto;
		text-align: center;
		color: #00738a;
		height: 100%;
		width: 100%;
		font-size: 22px;
		padding-top: 10px;
		line-height: 1.2;
		font-family: 'Museo Sans 700', serif;

		text-transform: uppercase;
	}
	#closeForm {
		display: none;
		position: fixed;
		z-index: 21;
		right: 10px;
		top: 10px;

		color: #efcd61;
		font-size: 42px;
		line-height: 1.2;
		font-family: 'Museo Sans 700', serif;

	}
	.container-form {
		position: fixed;
		background-color: #00738a;
		z-index: 20;
		bottom: 0;
		top: -200%;
		height: 100vh;
		left: 0;
		right: 0;
	}
	.relative {
		width: 100%;
	}
	#body {
		height: 2800px;
		padding-top: 40px;
	}

	#tag1 {
		right: 0;
		top: 35%;
	}
	#tag2 {
		bottom: 0;
	}
	#trait-1 {
		left: 50%;
		top: 20px;
	}
	#trait-2 {
		left: 50%;
		top: -25px;
	}
	#trait-3 {
		left: 50%;
		top: -150px;
	}
	#trait-4, #trait-5 {
		left: 50%;
	}


	#box-1 h1,
	#box-1 h1 span.big {
		padding-top: 30px;
		text-align: center;
		font-size: 32px;
	}

	#box-2 {
		width: 100%;
		left: 0;
		top: 140px;
		text-align: center;
	}

	#box-3 {
		top: 180px;
		left: 0 !important;
		width: 100%;
	}
	#box-3 .inner.first {
		text-align: center;
		font-size: 20px;
		padding: 40px;
		margin-left: auto;
		max-width: 100%;
		margin-right: auto;
	}
	#box-4 {
		top: 200px;
		left: 0;
		width: 100%;
		text-align: center;
	}
	#box-4 h3 {
		text-transform: uppercase;
	}
	#box-4 p {
		font-size: 22px;
	}

	#box-5 {
		left: 0;

	}
	#box-5 .inner.second {
		width: 100% !important;
		border-radius: 0;
	}

	#box-6 {
		width: 100%;
		text-align: center;
	}
	#box-6 p {
		font-size: 24px !important;
	}

	.container-merci .container-virade a {
		font-size: 22px;
		padding-top: 16px;
	}
	#merci .container-virades .inner .text p.big {
		font-size: 24px;
		margin-top: 10px;
	}
	#merci .container-virades .inner .baloon3 {
		top: 20px;
		bottom: auto;
	}
	#merci .container-virades .inner .baloon2 {
		display: none;
	}
	#merci .container-virades .inner .baloon1 {
		bottom: auto;
		top: 0;
	}
	.container-merci .container-virade {
		padding: 60px 5px 5px;
	}

	.container-footer {
		height: auto;
		padding: 5px;
	}
	.container-footer p {
		font-size: 12px;
	}


}
@media screen and (max-width: 1200px) {
	#box-3 {
		left: -350px;
	}
	#box-5 .inner.second {
		width: 690px;
	}
}
@media screen and (max-width: 640px) {
	#body .logo {
		position: absolute;;
	}
	#merci {
		display: none !important;
	}
	#tag1, #tag2 {
		display: none;
	}
	#box-1 h1, #box-1 h1 span.big {
		font-size: 22px;
	}
	#body {
		background-size: cover !important;
		height: 2700px;
		padding-top: 70px;
	}
	#photo-sasha {
		max-width: 225px;
	}
	.trait {
		z-index: -1 !important;
	}
	#box-1 h1, #box-1 h1 span.big {
		padding-top: 15px;
	}
	#box-2 {
		top: 50px	;
	}
	#box-2 > img {
		max-width: 80%;
	}
	#box-3 {
		top: 80px;
	}
	#box-3 .inner.first {
		border-radius: 0;
	}
	#box-4 {
		top: 130px;
	}
	#box-5 .inner.second {
		padding: 20px;
	}
	#box-5 .inner.second img {
		float: left;
		margin-top: 5px;
		margin-right: 5px;
		margin-bottom: 50px;
		vertical-align: middle;
	}
	#box-5 .title {
		margin-top: 0;
	}
	#box-5 .title img {
		display: inline-block;
		float: left;

	}
	#box-5 li {
		font-size: 18px;
	}
	#trait-3 {
		top: -220px;
	}

	.petition {
		padding: 10px 10px 40px;
	}
	.petition p,.petition li {
		font-size: 14px;
	}
	.petition p.receiver {
		text-align: right;
	}
	.petition div:nth-child(1) {
		height: 215px;
	}
	.petition .big {
		font-size: 22px;
	}

	.container-form .title p {
		font-size: 20px;
		padding-top: 20px;
	}
	.container-form .text {
		text-align: center;
	}
	.container-form form .group div {
		width: 100% !important;
	}
	.container-form form input {
		margin-bottom: 8px;
	}
	.container-right {
		padding-bottom: 150px !important;
		padding-top: 20px;
	}
	.container-merci > a {
		display: block;
		margin: 0 auto 10px;
	}
	.container-merci .container-virade a {
		font-size: 19px;
		height: 80px;
	}
	.container-merci .container-virade a img {
		margin-right: 10px;
		margin-left: 7px;
	}
	.container-merci .container-virade {
		bottom: 0;
		padding: 40px 18px 18px !important;
		min-height: 154px;
	}
}